<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <script src="../static/js/jquery-3.5.1.min.js"></script>
        <script>
            var token_csrf = "{{ csrf_token }}";

            function query(){
                console.log($("#name").val())
                $.ajax({
                    url:"/query",
                    type:"POST",
                    dataType: "json",
                    headers: { "X-CSRFToken": token_csrf },
                    data:{keyWord:$("#name").val()},
                    success:function(data){
                        console.log("success")
                        $('#tableDiv').empty();
                        if(data.status == 1){
                            $("#tableDiv").html(data.html)
                        }else{
                            $("#tableDiv").html("")
                        }
                        
                    }
                })
            }
        </script>
        <title>评价</title>
    </head>

<body>
    <div>
        <div>
            <span>高分影评</span>
        </div>
        <div id = "tableDiv">
            <table style="border-collapse:separate; border-spacing:0px 10px;">
                <tr>
                    <td style="width: 50px;">评分</td>
                    <td style="width: 400px;">短评</td>
                    <td style="width: 200px;">评价日期</td>
                </tr>
                {% for m in commensts %}
                <tr>
                    <td>{{ m.rating }} </td>
                    <td>{{ m.content }} </td>
                    <td>{{ m.comment_time }} </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>